<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
		xmlns:cache="http://www.springframework.org/schema/cache" 
		xmlns:task="http://www.springframework.org/schema/task"
		xmlns:rabbit="http://www.springframework.org/schema/rabbit"
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd 
							http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
							http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd 
				       		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd 
				       		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
				       		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd 
				       		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
				       		">

	<dubbo:application name="dubboApp.service-impl-bizA" />
	
	<context:property-placeholder location="classpath:/zookeeper.properties" />
	
	<!-- 同一套注册中心的各个节点使用','分隔；多套注册中间用'|'分隔 -->
	<dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" timeout="${dubbo.registry.timeout}" />
	
	<!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />
    
    <!-- 默认线程配置 ， 也可在 <dubbo:provider /> 标签下进行配置-->
    <!-- <dubbo:protocol dispatcher="all" threadpool="fixed" threads="100" /> -->
    
    <bean id="bizAXMLTypeProviderImpl" class="me.xhy.dubboApp.service.impl.bizA.xmlTypeProvider.BizAXMLTypeProviderImpl" />
    
    <dubbo:service interface="me.xhy.dubboApp.service.defn.bizA.xmlTypeProvider.BizAXMLTypeProvider" ref="bizAXMLTypeProviderImpl" />
	
	<dubbo:annotation package="me.xhy" />
	
</beans>